<form action = "{{fsc.url()}}&activetab=Generar" method="post" >
{#<form action = "{{fsc.url()}}" method="post" >#}
    <div class="card shadow p-3">
        
        <div class="form-row">
            <div class="col-3">
                <div class="form-group">
                    {{ i18n.trans("date") }}
                    <input type="date" class="form-control" name="fecha" value="{{ fsc.toolBox().today() }}" required="">
                </div>                
            </div>                

            <div class="col-9">
                <div class="form-group">
                    {{ i18n.trans("company") }}
                    <select name="idempresa" class="form-control">
                        {% for empresa in fsc.empresa.all() %}
                            <option value="{{ empresa.idempresa }}">
                                {{ empresa.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>                
            </div> 
                    
            <div class="col-12">
                <br>
            </div> 

            {% for variable in fsc.views.EditAsientoPredefinidoVariable.cursor %}
                <div class="col-4">
                    {{ variable.mensaje }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ variable.codigo }}</span>
                        </div>
                        <input type="number" class="form-control" name="var_{{ variable.codigo }}" required="">
                    </div>                
                </div>                
            {% endfor %}
        </div>
            
        <div>
            <br>
            <button type="submit" class="btn btn-success" name="action" value="gen-accounting">
                {{ i18n.trans("generate") }}
            </button>    
        </div> 


    </div>
</form>


